* {
 	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* Customizing Font*/
.font-cursive {
	font-family: 'Gloria Hallelujah', cursive;
}

.font-serif-custom {
	font-family: 'Open Sans', sans-serif;
}

/* Customizing Background Color */
.bg-prus-blue {
	background-color: #003153;
}

.bg-bisque {
	background-color: #ffceac;
}

/* Contents */
.accordion {
  margin: 20px auto;
  width: 50%;
}

.card {
  border-color: #003153;
  border-width: 2px;
  border-radius: 0;
}

.card-header a {
  color: #003153;
  text-decoration: none;
}

.card-header i {
  margin: auto 5px;
}

.card-header:hover, .card-header a:hover {
  background-color: #fececa;
}

.card-header.active {
  background-color: #003153;
  color: white;
}