{% extends 'home/base.html' %}
{% load static %}

{% block styles %}
<style>
  .btn-login {
    color: white;
    background-color: #e6703d;
    border-color: #e6703d;
  }
  input {
    width: 20%;
    padding: 10px 8px;
    /*border-radius: 15px;*/
    box-sizing: border-box;
    display: block;
  }
  input:focus {
    border: 2px solid #555;
  }
  form div {
    margin: 15px 0;
  }
</style>

{% endblock %}

{% block title %}login ya?{% endblock %}

{% block content %}
<div class="container mt-3 pl-auto">
  <h2 class="font-serif-custom">Log In</h2>
  <form method="POST">
    {% csrf_token %}
    <label for="username">Username: </label>
    <input type="" id="username" name="username" placeholder="ur username" required>
    <br>
    <label for="pasword">Password: </label>
    <input type="password" id="password" name="password" placeholder="password please" required>
    <br>
    <div>
      <a href="/story9" type="button" class="btn btn-default">Cancel</a>
      <button type="submit" class="btn btn-login">Log In</button>
    </div>
  </form>
</div>
{% endblock %}