{% extends 'home/base.html' %}
{% load static %}

{% block styles %}
<style>
	.btn-sign-up {
		color: white;
		background-color: #e6703d;
		border-color: #e6703d;
	}
</style>
{% endblock %}

{% block title %}Sign Up duls{% endblock %}

{% block content %}
<div class="container mt-3">
	<h2 class="font-serif-custom">Sign Up</h2>
	<form method="POST">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
	<a href="/story9" type="button" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-sign-up">Sign up</button>
	</form>
</div>
{% endblock %}