{% extends 'home/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'story9/css/style.css' %}">
{% endblock %}

{% block title %}Story 9 Ediw{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="mt-5 mb-4 text-center">
	<p class="font-cursive" style="font-size: 50px;">Selamat Datang,</p>
	<p class="font-serif-custom" style="font-size: 30px;">{{ request.user.username }}</p>
	<p class="font-serif-custom" id="logout">Mau <a href="/story9/logout/">logout</a>?</p>
</div>
{% else %}
<div class="container mt-5 mb-4 text-center font-serif-custom">
	<p>Login <a href="/story9/login/">disini!</a></p>
	<p>Belum punya akun? <a href="/story9/signup/" style="color: #007bff;">Sign Up</a></p>
</div>
{% endif %}
{% endblock %}