#search {
	width: 45%;
  	padding: 12px 20px;
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 30px;
  	box-sizing: border-box;
}

#search:focus {
	outline: none;
	-webkit-box-shadow: 0 0 12px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0 0 12px #ccc;  /* Firefox 3.5 - 3.6 */
  	box-shadow:         0 0 12px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#list-of-content li {
	margin: 25px auto;
}

.content {
	display: flex;
	width: 75%;
	/*background-color: #003153;*/
	background-image: linear-gradient(to right, #003153 19.8%, white 0);
	margin: 40px auto;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 25px;
	box-shadow: 0 0 10px 2px #8a795d;
}

.image {
	flex: 1;
	padding-right: 10px;
	margin-right: 10px;
}

.image img {
	border-radius: 20px;
	width: 135px;
	height: auto;
}


.detail {
	flex: 4;
}

.detail hr {
	margin: 0 0 5px;
}

.detail p {
	margin-bottom: 0;
}

#desc {
	height: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}