* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;
}

/* Customizing Font*/
.font-cursive {
	font-family: 'Gloria Hallelujah', cursive;
}

.font-serif-custom {
	font-family: 'Open Sans', sans-serif;
}

/* Customizing Background Color */
.bg-prus-blue {
	background-color: #003153;
}

.bg-bisque {
	background-color: #ffceac;
}

/* Contents */
ul {
  list-style: none;
  padding: 0;
}

.accordion {
  margin: 20px auto;
  width: 50%;
}

ul .inner {
  background-color: white;
  padding: 8px 1em 1em 1em;
  overflow: hidden;
  display: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.inner img {
  width: 50%;
  height: auto;
  margin: 10px auto;
}

ul li {
  margin: 0.5em 0;
}

ul li a.toggle {
  width: 100%;
  display: block;
  background-color: #003153;
  color: #fefefe;
  padding: 0.75em;
  border-radius: 0.15em;
  transition: background 0.3s ease;
}

ul li a.toggle:hover {
  background: #00335d;
}

.down, .up {
  position: relative;
  top: -36px;
}


/*.accordion .card:hover {
  box-shadow: 0px 0px 20px #d4d4d4;
}

.card {
  border-color: #003153;
  border-width: 2px;
  border-radius: 0;
}

.card-header a {
  color: #003153;
  text-decoration: none;
}

.card-header i {
  margin: auto 5px;
}

.card-header:hover, .card-header a:hover {
  background-color: #fececa;
}

.card-header.active {
  background-color: #003153;
  color: white;
}

.card-body {
  display: none;
}*/