.container {
	background-color: white;
	border-radius: 15px;
	font-size: 25px;
	padding: 5px 0 3px;
}

.container .font-cursive {
	font-size: 35px;
}

.container .font-serif-custom {
	font-size: 24px;
}

#logout {
	color: #ffcead !important;
}

#logout:hover {
	color: black !important;
}