{% extends 'home/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'story8/css/styles.css' %}">
{% endblock %}

{% block title %}Story 8 nya Ediw{% endblock %}

{% block content %}
<div class="container mt-4 mb-4">
	<h1 class="text-center mb-3 font-cursive">looking for books?</h1>
	<h3 class="text-center mb-4 font-cursive">find it here</h3>
	<div class="text-center">
		<input id="search" placeholder="masukkan keyword">
	</div>
	<ul id="list-of-content">
	<!-- Ini template nya ya 
		<li>
			<div class="content">
				<div class="image" id="image">
					<img src="http://books.google.com/books/content?id=2lOhCgAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api">
				</div>
				<div class="detail" id="detail">
					<a href="" target="_blank"><h4>Judul</h4></a>
					<hr>
					<h6>Author</h6>
					<div id="desc">
						<p>Deskripsi</p>
					</div>
				</div>
			</div>
		</li> 
	-->
	</ul>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'story8/scripts/scripts.js' %}"></script>
{% endblock %}