{% extends 'home/base.html' %}
{% load static %}

{% block styles %}


{% endblock %}
{% block title %}Story 7 nya Ediw{% endblock %}

{% block content %}

	<div class="container mt-4 mb-4">
		<h1 class="text-center mb-5 font-cursive">my portofolio in an accordion</h1>
		<ul class="accordion">
		  <li>
		  	<div>
		    	<a class="toggle" href=#>Me</a>
		    	<button class="down float-right mx-2"><i class="fas fa-chevron-circle-down"></i></button>
				<button class="up float-right mx-2"><i class="fas fa-chevron-circle-up"></i></button>
		    </div>
		    <div class="inner">
		    	<img src="{% static 'home/img/potoalay.jpg' %}">
		    	<p>Alif Iqbal Hazairin</p>
		    	<p>Computer Science Student at University of Indonesia</p>
		    </div>
		  </li>
		  
		  <li>
		  	<div>
		    	<a class="toggle" href=#>Activities</a>
		    	<button class="down float-right mx-2"><i class="fas fa-chevron-circle-down"></i></button>
				<button class="up float-right mx-2"><i class="fas fa-chevron-circle-up"></i></button>
		    </div>
		    <div class="inner">
		      	<p>Currently serving as Head of Mushola Prosperity Department of FUKI 2020</p>
		      	<p>Studying, of course</p>
		    </div>
		  </li>
		  
		  <li>
		  	<div>
		    	<a class="toggle" href=#>Experience</a>
		    	<button class="down float-right mx-2"><i class="fas fa-chevron-circle-down"></i></button>
				<button class="up float-right mx-2"><i class="fas fa-chevron-circle-up"></i></button>
		    </div>
		    <div class="inner">
		      	<p>I was the Event Manager of my High School's third biggest competition</p>
		      	<p>Was a Staff of Logistics in Pemira IKM Fasilkom in 2019</p>
		      	<p>and staff of Consumption division in Wisuda Ganjil Fasilkom 2019</p>
		    </div>
		  </li>
		  
		  <li>
		  	<div>
		    	<a class="toggle" href=#>Achievements</a>
		    	<button class="down float-right mx-2"><i class="fas fa-chevron-circle-down"></i></button>
				<button class="up float-right mx-2"><i class="fas fa-chevron-circle-up"></i></button>
		    </div>
		    <div class="inner">
		      	<p>Bronze medalist in Interactive Meteorology at Pesta Sains Nasional held by IPB</p>
		      	<p>Participant of National Olympiad in Earth Science Field on 2018</p>
		      	<p>Surviving in Fasilkom until now (it's tough for real)</p>
		    </div>
		  </li>

		  <li>
			<div>
		    	<a class="toggle" href=#>Contacts</a>
		    	<button class="down float-right mx-2"><i class="fas fa-chevron-circle-down"></i></button>
				<button class="up float-right mx-2"><i class="fas fa-chevron-circle-up"></i></button>
		    </div>
		    <div class="inner">
		      	<a href="https://twitter.com/ediwhz" target="_blank">Twitter</a>
				<br>
				<a href="https://www.instagram.com/e___diw/" target="_blank">Instagram</a>
		    </div>
		  </li>
		</ul>

		<!-- <div class="accordion"> -->

		<!-- <div class="accordion-container border-top border-bottom">
				<div class="card-header title font-serif-custom bg-bisque">
					<a href="" class="toggle stretched-link">Me</a>
					<button class="down float-right mx-2"><i class="fas fa-chevron-circle-down"></i></button>
					<button class="up float-right mx-2"><i class="fas fa-chevron-circle-up"></i></button>
				</div>
				<div class="font-serif-custom">
					<p>Alif Iqbal Hazairin</p>
					<p>Ilmu Komputer - Fasilkom UI</p>
				</div>
			</div>
		</div> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'home/scripts/script.js' %}"></script>

{% endblock %}